body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

address {
    font-style: normal
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style-type: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.footer-logo .logo-part{
    color: #F4F4FD

}

.header-logo .logo-part {
    color: #2E2F42
}

.nav-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-menu:hover,
.nav-menu:focus {
    color: #404bbf;
}

.contacts-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf
}


.hero-section {
    background-color: #2e2f42;
    text-align: center;
    
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5; 
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color:#404BBF
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team {
    background-color: #f4f4fd;
}

.team-item {
    background-color: #FFFFFF
}

.team .section-subtitle,
.team .section-text {
    text-align: center;
}

.footer {
    background-color:#2e2f42;
}

.footer-text {
    color: #f4f4fd;

}