body {
    font-family: "Roboto", "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style-type: none;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.footer-logo {
    color: #f4f4fd;

}

.logo span {
    color: #4d5ae5;
}

.nav-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.hero-section {
    background-color: #2e2f42;
    text-align: center;
    
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
     
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team .section-subtitle,
.team .section-text {
    text-align: center;
}

.footer {
    background-color:#2e2f42;
}

.footer-text {
    color: #f4f4fd;

}